*{
	margin-top: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	background: url(../images/bd.jpg) repeat-Y;
	background-position: center;
	position: relative;
}

#header-nav{
	width: 100%;
	height: 50px;
	background-color: #f6b319;
	margin-left: -8px;	
}

a{
	text-decoration: none;
	color: aqua;
}

#header-nav span{
	float: right;
	color: white;
	font-weight: bolder; 
	margin: 10px 15px 5px;
	padding: 2px;
	transition: all 0.3s ease;
}

#header-nav span:hover{
	transform: scale(1.3,1.3);
	transition: all 0.3s ease;
	color: blue;
}

h1{
	margin: 10px 15px 5px;
	padding: 2px;
	float: left;
	color: #fff;
}







#contact-form{
	text-align: center;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    
}

input{
    height:45px;
}

form .submit
{
	width: 22.5%;
    background: #ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 8px;
}

 form .submit:hover
{
    background-color: #f44336;
    cursor: pointer;
}

p{
	font-size: 20px;
	font-weight: bolder;
	color: black;
}
hr{
	width: 45%;
}